<%= form_with(model: @claim) do |form| %>
  <div class="field">
    <%= form.text_area :content, autoselect: true, class: 'col-sm-12 form-control d-flex justify-content-center', maxlength: 15000 %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Reclamar", class: 'btn btn-success btn d-flex justify-content-center' %>
  </div>
<% end %>
