<div class="container border border-dark">
    <h1><%= @company.name%></h1>
    <%= link_to 'Back', companies_path %>
    <%= render 'claims/form' %>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Content</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <%= render @company.claims %>
        </tbody>
    </table>
</div>